<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLBXConnection"
			 connectionString="Server=LAPTOP-NABV6PHG\KANTOU;Database=QLBX;User Id=sa;Password=Astella250205@;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>